@font-face
	font-family 'icomoon'
	font-weight normal
	src url('../fonts/icomoon.eot')
	src url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('../fonts/icomoon.woff') format('woff'),url('../fonts/icomoon.ttf') format('truetype'),url('../fonts/icomoon.svg#icomoonn') format('svg')
@font-face
	font-family 'RarpeRoman'
	font-weight normal
	src url('../fonts/humanst521-bt-roman-11929-webfont.eot')
	src url('../fonts/humanst521-bt-roman-11929-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/humanst521-bt-roman-11929-webfont.woff') format('woff'),url('../fonts/humanst521-bt-roman-11929-webfont.ttf') format('truetype'),url('../fonts/humanst521-bt-roman-11929-webfont.svg#RarpeRoman') format('svg')
@font-face
	font-family 'RarpeBold'
	font-weight normal
	src url('../fonts/humanst521-bt-bold-webfont.eot')
	src url('../fonts/humanst521-bt-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/humanst521-bt-bold-webfont.woff') format('woff'),url('../fonts/humanst521-bt-bold-webfont.ttf') format('truetype'),url('../fonts/humanst521-bt-bold-webfont.svg#RarpeBold') format('svg')