@font-face
	font-family 'icomoon'
	font-weight normal
	src url('../fonts/icomoon.eot')
	src url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('../fonts/icomoon.woff') format('woff'),url('../fonts/icomoon.ttf') format('truetype'),url('../fonts/icomoon.svg#icomoonn') format('svg')
